@import url('https://googleapis.com');

body .main-content {
    background-color: #f3f4f6;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1p', "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    font-weight: 700;
    background-color: #f6f8fa;
    color: #333333;
}

.requestListMain {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.requestListForm {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
}

.page-title {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
    color: #333333;
}

.page-title::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 32px;
    background-color: #000000;
    margin-right: 16px;
}

.table-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    padding: 10px 0;
}

.table-request {
    width: 100%;
    border-collapse: collapse;
}

.table-request th,
.table-request td {
    padding: 12px 40px;
    font-size: 14px;
    vertical-align: middle;
}

.table-request th {
    color: #aaaaaa;
    font-weight: 700;
    text-align: left;
    border-bottom: 3px solid #f0f2f5;
}

.table-request tbody tr {
    border-bottom: 3px solid #f0f2f5;
}

.table-request tbody tr:last-child {
    border-bottom: none;
}

.table-request td {
    color: #333333;
    font-weight: 700;
}

.table-request th:first-child,
.table-request td:first-child {
    text-align: left;
    width: 25%;
}

.table-request th:last-child,
.table-request td:last-child {
    text-align: left;
}

.button-link {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.button-link:hover {
    text-decoration: underline;
}
